* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Outfit", sans-serif;
    --font4: "DM Sans", sans-serif;
    --font5: "Public Sans", sans-serif;
    --font6: "Roboto", sans-serif;
    --font7: "Urbanist", sans-serif;
    --font8: "Plus Jakarta Sans", sans-serif;
}


.contaiher__header {
    /* width: 1251px;
    margin: 45px 96px 0 0; */
    margin: 45px auto;

}

.header__nav {
    display: flex;
    margin: 45px 96px 0 93px;
}

.header__left {
    display: flex;
    gap: 57px;
    align-items: center;
}

.header__navig {
    width: 445px;
}

.header__navig ul {
    display: flex;
    justify-content: space-between;


}

.header__navig ul li {
    font-family: var(--second-family);
    color: #606060;
}

.header__right {
    display: flex;
    gap: 30px;
    margin-left: 117px;

}

.search__wrapp {
    display: flex;
    align-items: center;
    gap: 25px;
    background: #ededed;
    border-radius: 14px;
    width: 348px;
    height: 57px;
    padding: 18px 81px 17px 22px;
}

.search__input::placeholder {
    font-family: var(--font-family);
    width: 197px;
    font-weight: 500;
    font-size: 15px;
    color: #c2c3cb;
}

.search__icon {
    font-size: 15px;

}

.search__input {
    border: none;
    background: #ededed;
    outline: none;
    width: 100%;

}

.btn__connect {
    width: 200px;
    border-radius: 16px;
    padding: 16px 24px;
    font-family: var(--second-family);
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}








.container__static {

    width: 100%;
    margin: 120px auto;

}

.stats__text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    line-height: 67%;
    color: #141416;
    text-align: center;
    margin: 155px 0 44px 0;
}






.buttons__stats {
    display: flex;
    justify-content: center;
    gap: 22px;
}



.butt__stats {
    border: 2.21px solid #141416;
    border-radius: 13px;
    padding: 17px;
    width: 137px;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 15px;
    color: #1a202c;
    cursor: pointer;
}





.info__stats {
    display: flex;
    gap: 341px;
    padding-top: 90px;
    justify-content: space-between;
    width: 100%;
    width: 1247px;
    height: 79px;
    align-items: center;

}

.text__info__top__collect {
    font-family: var(--third-family);
    font-weight: 800;
    font-size: 22px;
    color: #1a202c;
    display: flex;
    gap: 15px;

    align-items: center;
    padding-left: 96px;

}


.arrows-down-up {
    width: 20px;
    height: 20px;
}


.text__info__top {
    font-family: var(--third-family);
    font-weight: 800;
    font-size: 22px;
    color: #1a202c;
    display: flex;
    gap: 15px;
    align-items: center;
}

.right__text__info {
    display: flex;
    align-items: center;


}










.clients {
    padding: 36px 96px 359px;

}

.client__num__1 {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 41px;
}

.client__num__2 {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 41px;

}

.client__num__3 {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 41px;
}

.client__num__4 {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 41px;
}



.client__logo__name {
    width: 417px;
    display: flex;
    gap: 23px;
    align-items: center;
}

.logo__client {
    border: 3.50px solid #fff;
    border-radius: 1751px;
    width: 84px;
    height: 84px;
}

.login__client {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    color: #141416;
}

.name__client {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    color: #64748b;
}

.money__info {
    display: flex;

}

.eth__cash__1 {
    display: flex;
    gap: 3px;
    padding-right: 80px;
}

.eth__cash__2 {
    display: flex;
    gap: 3px;
    padding-right: 145px;
}

.eth__logo {
    width: 32px;
    height: 32px;
}

.eth__money {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #141416;
}

.percent__money__24h {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #10c352;
    padding-right: 63px;
}

.owners {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 23px;
    color: #010101;
    padding-right: 140px;
}

.items {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 23px;
    color: #010101;
}

.border__line {
    border: 1.69px solid #ebe9e9;
    width: 1233px;
    height: 0px;
    margin-bottom: 41px;
}







































.footer__navig {
    height: 345px;
    background: #141416;
    width: 100%;
}

.navig__footer {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 414px;
    padding: 92px 96px 0;
    margin-bottom: 25px;
}

.logo__name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 29px;
    color: #fff;


}

.nav__footer ul {
    display: flex;
    gap: 70px;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    color: #b9b9b9;
}

.line__footer {
    border: 1px solid #818181;
    width: 1246px;
    height: 0px;
    opacity: 0.25;
    margin: 0 97px;

}

.info__footer {
    display: flex;
    margin-top: 57px;
    padding: 0 99px 81px 103px;
    gap: 717px;

}

.eatly {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    color: #999;
}

.social__company {
    display: flex;
    gap: 53px;
}