* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Outfit", sans-serif;
    --font4: "DM Sans", sans-serif;
    --font5: "Public Sans", sans-serif;
    --font6: "Roboto", sans-serif;
    --font7: "Urbanist", sans-serif;
    --font8: "Plus Jakarta Sans", sans-serif;
}


.contaiher__header {
    max-width: 1251px;
    margin: 45px 96px 0 0;
}

.header__nav {
    display: flex;
    margin: 45px 96px 0 93px;
}

.header__left {
    display: flex;
    gap: 57px;
    align-items: center;

}

.header__navig {
    width: 445px;
}

.header__navig ul {
    display: flex;
    justify-content: space-between;


}

.header__navig ul li {
    font-family: var(--second-family);
    color: #606060;
}

.header__right {
    display: flex;
    gap: 30px;
    margin-left: 117px;

}

.search__wrapp {
    display: flex;
    align-items: center;
    gap: 25px;
    background: #ededed;
    border-radius: 14px;
    width: 348px;
    height: 57px;
    padding: 18px 81px 17px 22px;
}

.search__input::placeholder {
    font-family: var(--font-family);
    width: 197px;
    font-weight: 500;
    font-size: 15px;
    color: #c2c3cb;
}

.search__icon {
    font-size: 15px;

}

.search__input {
    border: none;
    background: #ededed;
    outline: none;
    width: 100%;

}

.btn__connect {
    width: 200px;
    border-radius: 16px;
    padding: 16px 24px;
    font-family: var(--second-family);
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.contaiher__full {
    width: 100%;
    position: relative;
}


.discover__create__nft {
    width: 568px;
    margin: 111px 48px 82px 98px;
}

.discover__create__nft h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 75px;
    text-transform: capitalize;
    color: #141416;
}

.disc__main__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    text-align: justify;
    color: #676767;
    margin-top: 16px;
}

.bonus__disc {
    font-weight: 600;
    color: #141416;
}

.buttons {
    display: flex;
    gap: 23px;
    margin-top: 45px;
}

.more {
    border-radius: 12px;
    width: 179px;
    height: 60px;
    background: #000;
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

}

.nft {
    border: 1.50px solid #000;
    border-radius: 12px;
    width: 138px;
    height: 60px;
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: uppercase;
    background: #fff;
}

.information__comp {
    display: flex;
    margin: 82px 115px 165px 97px;
    gap: 65px;
}

.inf {
    font-family: var(--font5);
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #141416;
}

.text__inf {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #848586;
    margin-top: 6px;
}


.img__right__contant {
    width: 780px;
}


.img__main {
    position: absolute;
    top: 202px;
    left: 713px;

}

.img__back {
    position: absolute;
    top: 402px;
    left: 1142px;
}

.img__arrow {
    position: absolute;
    top: 262px;
    left: 1126px;
}

.img__dots {
    position: absolute;
    top: 202px;
    left: 1320px;
}

.slider__controls {
    border-radius: 17px;
    padding: 21px;
    width: 166px;
    height: 68px;
    box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
    background: #fcfcfd;
    display: flex;
    gap: 34px;
    position: absolute;
    top: 687px;
    left: 825px;
}

.border {
    border-radius: 2px;
    width: 2px;
    height: 25px;
    background: #e6e8ec;
}

#weekly__nft__slider {
    background: #f1f1f1;
    width: 100%;
    height: 873px;

}

.nft__slides{
    position: relative;
}

.title__slide {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    line-height: 60%;
    color: #c5c5c5;
    text-align: center;
    padding-top: 70px;
}

.slide__nft__cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}


.slide__nft__card {
    /* width: 281px; */
    border-radius: 23px;
    box-shadow: 39px 12px 59px 0 rgba(199, 199, 199, 0.6);
    background: #fff;
    margin-top: 100px;
    position: relative;

}

.img__card {
    border-radius: 23px;
    width: 252px;
    height: 252px;
    padding: 14px;
    overflow: hidden;


}




.timer {
    position: absolute;
    border: 1.18px solid rgba(28, 29, 32, 0.08);
    border-radius: 9px;
    padding: 8px 14px;
    width: 116px;
    height: 37px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 5px 14px 0 rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    z-index: 1;
    top: 28px;
    right: 24px;

}

.text__main__card {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    color: #141416;
    margin-left: 18px;
}

.card__buy {
    width: 243px;

    position: relative;
    top: 14px;
    left: 4px;

}


.info__card {

    padding: 14px 40px 50px 18px;

}

.curr__bid {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 4px;
}

.price__info {
    display: flex;
    gap: 2px;




}

.price__eth {
    font-family: var(--font-family);
    font-weight: 500;
    color: #141416;
}

.place__bid {
    border-radius: 12px;
    padding: 9px 18px;
    width: 121px;
    height: 51px;
    background: #141416;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 44px;
    right: 18px;

}



.slider__nft__button {
    border-radius: 17px;
    padding: 21px;
    width: 166px;
    height: 68px;
    box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
    background: #fcfcfd;
    display: flex;
    gap: 34px;
    margin: 114px auto;

}


.container__viewed {
    width: 365px;
    height: 246px;
    border: 1px solid #edf2f7;
    border-radius: 16px;
    position: absolute;
    top:  1642px;
    right: 99px;
    box-shadow: 10px 10px 50px 0 rgba(20, 20, 22, 0.1);
    background: #fff;


}

.recent {
    display: flex;
    gap: 132px;
    align-items: center;
    margin: 26px 0 27px 24px;
}

.main__recent {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    color: #1a202c;
}

.dots__recent {
    width: 4px;
    height: 4px;
    background-color: #999;
    border-radius: 50%;
    position: relative;
    box-shadow: 8px 0 gray;

}

.dots__recent::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: gray;
    border-radius: 50%;
    left: 8px;
    top: 0;
    box-shadow: 8px 0 gray;
}

.user__1 {
    display: flex;
    margin-bottom: 20px;
    gap: 121px;


}

.left__user__logo__num {
    display: flex;
    position: relative;
    margin-left: 27px;
    gap: 15px;
    align-items: center;
}

.logo__user {
    border: 1.92px solid #fff;
    border-radius: 960px;
    width: 46px;
    height: 46px;
}

.circle__num {
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    top: 33px;
    left: 30px;

}

.number__user {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    color: #141416;
    padding: 2px;
}

.name__login {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    color: #141416;
}

.real__name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #64748b;
}



.eth__user {
    display: flex;
    gap: 2px;
    margin-bottom: 7px;
}

.cash__eth {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    color: #141416;

}

.percent__cash {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #10c352;
    text-align: right;
}

.user__2 {
    display: flex;
    margin-bottom: 20px;
    gap: 121px;
}

.percent__cash__red {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: #e23333;
    text-align: right;
}


.container__collection {
    width: 1247px;
    margin: 120px auto;
}

.top__collection__main__text {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    color: #141416;

}

.info__collection {
    display: flex;
    gap: 341px;
    padding-top: 90px;
    justify-content: center;

}

.text__info__top {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    color: #93989a;
}

.right__text__info {
    display: flex;
    gap: 92px;
}


















.footer__navig {
    height: 345px;
    background: #141416;
    width: 100%;
}

.navig__footer {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 414px;
    padding: 92px 96px 0;
    margin-bottom: 25px;
}

.logo__name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 29px;
    color: #fff;


}

.nav__footer ul {
    display: flex;
    gap: 70px;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    color: #b9b9b9;
}

.line__footer {
    border: 1px solid #818181;
    width: 1246px;
    height: 0px;
    opacity: 0.25;
    margin: 0 97px;

}

.info__footer {
    display: flex;
    margin-top: 57px;
    padding: 0 99px 81px 103px;
    gap: 717px;

}

.eatly {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    color: #999;
}

.social__company {
    display: flex;
    gap: 53px;
}