* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Outfit", sans-serif;
    --font4: "DM Sans", sans-serif;
    --font5: "Public Sans", sans-serif;
    --font6: "Roboto", sans-serif;
    --font7: "Urbanist", sans-serif;
    --font8: "Plus Jakarta Sans", sans-serif;
}


.contaiher__header {
    max-width: 1251px;
    margin: 45px 96px 0 0;
}

.header__nav {
    display: flex;
    margin: 45px 96px 0 93px;
}

.header__left {
    display: flex;
    gap: 57px;
    align-items: center;

}

.header__navig {
    width: 445px;
}

.header__navig ul {
    display: flex;
    justify-content: space-between;


}

.header__navig ul li {
    font-family: var(--second-family);
    color: #606060;
}

.header__right {
    display: flex;
    gap: 30px;
    margin-left: 117px;

}

.search__wrapp {
    display: flex;
    align-items: center;
    gap: 25px;
    background: #ededed;
    border-radius: 14px;
    width: 348px;
    height: 57px;
    padding: 18px 81px 17px 22px;
}

.search__input::placeholder {
    font-family: var(--font-family);
    width: 197px;
    font-weight: 500;
    font-size: 15px;
    color: #c2c3cb;
}

.search__icon {
    font-size: 15px;

}

.search__input {
    border: none;
    background: #ededed;
    outline: none;
    width: 100%;

}

.btn__connect {
    width: 200px;
    border-radius: 16px;
    padding: 16px 24px;
    font-family: var(--second-family);
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.contaiher__full {
    width: 100%;
    position: relative;
}


.discover__create__nft {
    width: 568px;
    margin: 111px 48px 82px 98px;
}

.discover__create__nft h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 75px;
    text-transform: capitalize;
    color: #141416;
}

.disc__main__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    text-align: justify;
    color: #676767;
    margin-top: 16px;
}

.bonus__disc {
    font-weight: 600;
    color: #141416;
}

.buttons {
    display: flex;
    gap: 23px;
    margin-top: 45px;
}

.more {
    border-radius: 12px;
    width: 179px;
    height: 60px;
    background: #000;
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

}

.nft {
    border: 1.50px solid #000;
    border-radius: 12px;
    width: 138px;
    height: 60px;
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: uppercase;
    background: #fff;
}

.information__comp {
    display: flex;
    margin: 82px 115px 165px 97px;
    gap: 65px;
}

.inf {
    font-family: var(--font5);
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #141416;
}

.text__inf {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #848586;
    margin-top: 6px;
}


.img__right__contant {
    width: 780px;
}


.img__main {
    position: absolute;
    top: 202px;
    left: 713px;

}

.img__back {
    position: absolute;
    top: 402px;
    left: 1142px;
}

.img__arrow {
    position: absolute;
    top: 262px;
    left: 1126px;
}

.img__dots {
    position: absolute;
    top: 202px;
    left: 1320px;
}

.slider__controls {
    border-radius: 17px;
    padding: 21px;
    width: 166px;
    height: 68px;
    box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
    background: #fcfcfd;
    display: flex;
    gap: 34px;
    position: absolute;
    top: 687px;
    left: 825px;
}

.border {
    border-radius: 2px;
    width: 2px;
    height: 25px;
    background: #e6e8ec;
}






































.footer__navig {
    height: 345px;
    background: #141416;
    width: 100%;
}

.navig__footer {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 414px;
    padding: 92px 96px 0;
    margin-bottom: 25px;
}

.logo__name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 29px;
    color: #fff;


}

.nav__footer ul {
    display: flex;
    gap: 70px;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    color: #b9b9b9;
}

.line__footer {
    border: 1px solid #818181;
    width: 1246px;
    height: 0px;
    opacity: 0.25;
    margin: 0 97px;

}

.info__footer {
    display: flex;
    margin-top: 57px;
    padding: 0 99px 81px 103px;
    gap: 717px;

}

.eatly {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    color: #999;
}

.social__company {
    display: flex;
    gap: 53px;
}