* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Outfit", sans-serif;
    --font4: "DM Sans", sans-serif;
    --font5: "Public Sans", sans-serif;
    --font6: "Roboto", sans-serif;
    --font7: "Urbanist", sans-serif;
    --font8: "Plus Jakarta Sans", sans-serif;
}


.contaiher__header {
    /* width: 1251px;
    margin: 45px 96px 0 0; */
    margin: 45px auto;

}

.header__nav {
    display: flex;
    margin: 45px 96px 0 93px;
}

.header__left {
    display: flex;
    gap: 57px;
    align-items: center;
}

.header__navig {
    width: 445px;
}

.header__navig ul {
    display: flex;
    justify-content: space-between;


}

.header__navig ul li {
    font-family: var(--second-family);
    color: #606060;
}

.header__right {
    display: flex;
    gap: 30px;
    margin-left: 117px;

}

.search__wrapp {
    display: flex;
    align-items: center;
    gap: 25px;
    background: #ededed;
    border-radius: 14px;
    width: 348px;
    height: 57px;
    padding: 18px 81px 17px 22px;
}

.search__input::placeholder {
    font-family: var(--font-family);
    width: 197px;
    font-weight: 500;
    font-size: 15px;
    color: #c2c3cb;
}

.search__icon {
    font-size: 15px;

}

.search__input {
    border: none;
    background: #ededed;
    outline: none;
    width: 100%;

}

.btn__connect {
    width: 200px;
    border-radius: 16px;
    padding: 16px 24px;
    font-family: var(--second-family);
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}




.container__discover {
    margin-top: 110px;
}


.discover__text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    line-height: 67%;
    color: #141416;
    text-align: center;
    margin: 155px 0 44px 0;
}




.buttons__discover {
    display: flex;
    justify-content: center;
    gap: 22px;
}



.butt__discover {
    border: 2.21px solid #141416;
    border-radius: 13px;
    padding: 17px;
    width: 137px;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 15px;
    color: #1a202c;
    cursor: pointer;
}



.top__cards__nft{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.bott__cards__nft{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 452px;
}

.slide__nft__cards {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}


.slide__nft__card {
  
    width: 282px;
    border-radius: 23px;
    box-shadow: 39px 12px 59px 0 rgba(199, 199, 199, 0.6);
    background: #fff;
    margin-top: 100px;
    position: relative;
   

}

.img__card {
    border-radius: 23px;
    width: 100%;
    height: 284px;
    padding: 14px;
    overflow: hidden;


}




.timer {
    position: absolute;
    border: 1.18px solid rgba(28, 29, 32, 0.08);
    border-radius: 9px;
    padding: 8px 14px;
    width: 116px;
    height: 37px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 5px 14px 0 rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    z-index: 1;
    top: 28px;
    right: 24px;

}

.text__main__card {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    color: #141416;
    margin-left: 18px;
}

.card__buy {
    width: 243px;

    position: relative;
    top: 14px;
    left: 4px;

}


.info__card {

    padding: 14px 40px 50px 18px;

}

.curr__bid {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 4px;
}

.price__info {
    display: flex;
    gap: 2px;




}

.price__eth {
    font-family: var(--font-family);
    font-weight: 500;
    color: #141416;
}

.place__bid {
    border-radius: 12px;
    padding: 9px 18px;
    width: 121px;
    height: 51px;
    background: #141416;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 44px;
    right: 18px;
    cursor: pointer;

}



.slider__nft__button {
    border-radius: 17px;
    padding: 21px;
    width: 166px;
    height: 68px;
    box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
    background: #fcfcfd;
    display: flex;
    gap: 34px;
    margin: 114px auto;

}






.footer__navig {
    height: 345px;
    background: #141416;
    width: 100%;
}

.navig__footer {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 414px;
    padding: 92px 96px 0;
    margin-bottom: 25px;
}

.logo__name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 29px;
    color: #fff;


}

.nav__footer ul {
    display: flex;
    gap: 70px;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    color: #b9b9b9;
}

.line__footer {
    border: 1px solid #818181;
    width: 1246px;
    height: 0px;
    opacity: 0.25;
    margin: 0 97px;

}

.info__footer {
    display: flex;
    margin-top: 57px;
    padding: 0 99px 81px 103px;
    gap: 717px;

}

.eatly {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    color: #999;
}

.social__company {
    display: flex;
    gap: 53px;
}