* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Outfit", sans-serif;
    --font4: "DM Sans", sans-serif;
    --font5: "Public Sans", sans-serif;
    --font6: "Roboto", sans-serif;
    --font7: "Urbanist", sans-serif;
    --font8: "Plus Jakarta Sans", sans-serif;
}


.contaiher__header {
    /* width: 1251px;
    margin: 45px 96px 0 0; */
    margin: 45px auto;

}

.header__nav {
    display: flex;
    margin: 45px 96px 0 93px;
}

.header__left {
    display: flex;
    gap: 57px;
    align-items: center;
}

.header__navig {
    width: 445px;
}

.header__navig ul {
    display: flex;
    justify-content: space-between;


}

.header__navig ul li {
    font-family: var(--second-family);
    color: #606060;
}

.header__right {
    display: flex;
    gap: 30px;
    margin-left: 117px;

}

.search__wrapp {
    display: flex;
    align-items: center;
    gap: 25px;
    background: #ededed;
    border-radius: 14px;
    width: 348px;
    height: 57px;
    padding: 18px 81px 17px 22px;
}

.search__input::placeholder {
    font-family: var(--font-family);
    width: 197px;
    font-weight: 500;
    font-size: 15px;
    color: #c2c3cb;
}

.search__icon {
    font-size: 15px;

}

.search__input {
    border: none;
    background: #ededed;
    outline: none;
    width: 100%;

}

.btn__connect {
    width: 200px;
    border-radius: 16px;
    padding: 16px 24px;
    font-family: var(--second-family);
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}




.creators__grid {
    display: grid;
    width: 1232px;
    margin: 0 auto;

    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}





.title__creator {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    color: #141416;
    margin: 155px 0 130px 0;
}


.creator {
    width: 370px;
    box-shadow: 30px 15px 80px 0 rgba(191, 191, 191, 0.6);
    background: #f2f2f2;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}


.creator__cover {
    width: 385px;
    height: 264px;
    overflow: hidden;
}

.img__back {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.creator__avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;




    position: absolute;
    top: 209px;
    left: 50%;
    transform: translateX(-50%);

    border: 6px solid #fff;
}



.img__avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.creator__info {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.username {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 23px;

}






.creator__stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 17px;
    text-align: center;


}


.info__items,
.info__floor,
.info__trad {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #141416;
}


.item,
.floor__price,
.traded {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #828282;


}

.etch__info {
    display: flex;
    gap: 5px;
    align-items: center;
}



.creator__galery {
    margin: 33px 0 37px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.img__gal,
.img__more {
    border-radius: 10px;
    width: 99px;
    height: 99px;
}



.end__more {
    position: relative;
}

.more__galery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font7);
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}



.end__more::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(16, 16, 16, 0.5);
    border-radius: 10px;
    width: 99px;
    height: 99px;
}








.container__footer {
    margin-top: 380px;
}



.footer__navig {
    height: 345px;
    background: #141416;
    width: 100%;
}

.navig__footer {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 414px;
    padding: 92px 96px 0;
    margin-bottom: 25px;
}

.logo__name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 29px;
    color: #fff;


}

.nav__footer ul {
    display: flex;
    gap: 70px;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    color: #b9b9b9;
}

.line__footer {
    border: 1px solid #818181;
    width: 1246px;
    height: 0px;
    opacity: 0.25;
    margin: 0 97px;

}

.info__footer {
    display: flex;
    margin-top: 57px;
    padding: 0 99px 81px 103px;
    gap: 717px;

}

.eatly {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    color: #999;
}

.social__company {
    display: flex;
    gap: 53px;
}