* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Outfit", sans-serif;
    --font4: "DM Sans", sans-serif;
    --font5: "Public Sans", sans-serif;
    --font6: "Roboto", sans-serif;
    --font7: "Urbanist", sans-serif;
    --font8: "Plus Jakarta Sans", sans-serif;
}


.contaiher__header {
    /* width: 1251px;
    margin: 45px 96px 0 0; */
    margin: 45px auto;

}

.header__nav {
    display: flex;
    margin: 45px 96px 0 93px;
}

.header__left {
    display: flex;
    gap: 57px;
    align-items: center;
}

.header__navig {
    width: 445px;
}

.header__navig ul {
    display: flex;
    justify-content: space-between;


}

.header__navig ul li {
    font-family: var(--second-family);
    color: #606060;
}

.header__right {
    display: flex;
    gap: 30px;
    margin-left: 117px;

}

.search__wrapp {
    display: flex;
    align-items: center;
    gap: 25px;
    background: #ededed;
    border-radius: 14px;
    width: 348px;
    height: 57px;
    padding: 18px 81px 17px 22px;
}

.search__input::placeholder {
    font-family: var(--font-family);
    width: 197px;
    font-weight: 500;
    font-size: 15px;
    color: #c2c3cb;
}

.search__icon {
    font-size: 15px;

}

.search__input {
    border: none;
    background: #ededed;
    outline: none;
    width: 100%;

}

.btn__connect {
    width: 200px;
    border-radius: 16px;
    padding: 16px 24px;
    font-family: var(--second-family);
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}














































.footer__navig {
    height: 345px;
    background: #141416;
    width: 100%;
}

.navig__footer {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 414px;
    padding: 92px 96px 0;
    margin-bottom: 25px;
}

.logo__name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 29px;
    color: #fff;


}

.nav__footer ul {
    display: flex;
    gap: 70px;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    color: #b9b9b9;
}

.line__footer {
    border: 1px solid #818181;
    width: 1246px;
    height: 0px;
    opacity: 0.25;
    margin: 0 97px;

}

.info__footer {
    display: flex;
    margin-top: 57px;
    padding: 0 99px 81px 103px;
    gap: 717px;

}

.eatly {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    color: #999;
}

.social__company {
    display: flex;
    gap: 53px;
}